/*—————————— FORM ——————————*/
#signInTitle {
  color: white !important;
  margin-bottom: none;
  text-align: center;
}

.loginLabel {
  color: white !important;
  margin: 4px;
}

.formButtonsContainer {
  margin: 0 auto;
  text-align: center;
}

#backButton {
  margin: 4px 6px;
}
