/*—————————— IMPORTS ——————————*/
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

/*—————————— GLOBAL ——————————*/
body {
  background: #282c34 !important;
  min-height: 100vh;
  font-family: "Varela Round", sans-serif !important;
}

.App {
  text-align: center;
}

/*—————————— MAIN CONTENT ——————————*/
main {
  text-align: left;
  max-width: 80%;
  margin: 0 auto;
  padding: 35px;
}

/*—————————— NAVIGATION ——————————*/
.App-header {
  padding-top: 20px;
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

nav a {
  display: inline-block;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.575) !important;
  margin: 10px;
  font-size: 0.7em;
  transition: all 0.2s ease;
}

nav a:hover {
  transition: all 0.2s ease;
  transform: translateY(-2px) !important;
  color: rgb(255, 255, 255) !important;
}

header {
  background: rgba(255, 255, 255, 0.123) !important;
}
